services:
  app:
    container_name: fintech_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/audit.db:/app/backend/audit.db
    restart: always
